.qy {
  display: flex;
  justify-content: center;
}

.qy:hover {
  --shadow: var(--neutral-12);
}

.qx {
  flex-shrink: 0;
  width: 1px;
  height: 1px;
  margin: 4px;
  border-radius: 100%;
}

.qx1 {
  background-color: rgb(var(--shadow, var(--neutral-9)));
}

.qx0 {
  background-color: transparent;
}
