.select__trigger {
  transition: border-color 250ms, color 250ms;

  &[data-disabled] {
    @apply pointer-events-none opacity-50;
  }
}

.select__value {
  &[data-placeholder-shown] {
    @apply text-neutral-11;
  }
}

.select__content {
  transform-origin: var(--kb-select-content-transform-origin);
  animation: contentHide 100ms ease-in forwards;

  &[data-expanded] {
    animation: contentShow 100ms ease-out;
  }
}

.select__item {
  &[data-highlighted] {
    @apply bg-primary-9 text-white;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes contentHide {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-8px);
  }
}
