@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  @apply bg-neutral-1 text-neutral-12 font-mono;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: hsl(var(--neutral-6));
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--neutral-8));
}
