---
import { HTMLX } from "~/components/core";
---

<HTMLX title="404" description="page not found">
  <div class="relative flex items-center justify-center w-screen h-screen overflow-hidden">
    <h1 class="text-4xl text-neutral-11 text-center font-bold select-none">404 | not found</h1>
  </div>
</HTMLX>
