---
import { HTMLX } from "~/components/core";
---

<HTMLX title="404" description="page not found">
  <div>
    <h1 class="text-4xl text-primary-11 text-center font-bold select-none">404 | not found</h1>
  </div>
</HTMLX>
