---
import { GithubIcon } from "lucide-solid";

import { HTMLX, Button, IconButton } from "~/components/core";

import Demo from "~/components/other/Demo";
import Pixel from "~/components/other/Pixel.astro";

import { HOST } from "~/utils";
---

<HTMLX>
  <div class="absolute inset-0 z-0 overflow-hidden">
    <Pixel />
  </div>

  <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 p-7 z-10">
    <h1 class="relative text-3xl lg:text-5xl text-neutral-11 text-center font-bold select-none z-0">Regions of Indonesia</h1>
    <div class="relative flex flex-col gap-1 mt-3 mb-1 z-0">
      <div class="h-px bg-gradient-to-r from-transparent via-[#ff0000] to-transparent rounded-full"></div>
      <div class="h-px bg-gradient-to-r from-transparent via-[#ffffff] to-transparent rounded-full"></div>
    </div>
    <div class="relative flex justify-center items-center gap-3 p-2 z-0">
      <Button client:idle as="a" title="Docs" href={HOST.DOCS()} variant="outline" target="_blank">Docs</Button>
      <IconButton client:idle as="a" title="Github" href="https://github.com/regions-of-indonesia" variant="outline" target="_blank">
        <GithubIcon client:idle />
      </IconButton>
    </div>
    <div class="relative flex justify-center items-center p-2 z-10">
      <Demo client:idle />
    </div>
  </div>
</HTMLX>
