---
import { GithubIcon } from "lucide-solid";

import { HTMLX, Button, IconButton } from "~/components/core";

import * as HOST from "~/utils/host";
---

<HTMLX>
  <div>
    <h1 class="text-5xl text-primary-11 text-center font-bold select-none">Regions of Indonesia</h1>
    <h2 class="text-3xl text-primary-11 text-center font-medium select-none">coming soon</h2>
    <div class="flex justify-center items-center gap-3 p-2">
      <Button client:idle as="a" href={HOST.DOCS()} target="_blank">Docs</Button>
      <IconButton client:idle as="a" href="https://github.com/regions-of-indonesia" target="_blank">
        <GithubIcon client:idle />
      </IconButton>
    </div>
  </div>
</HTMLX>
