---
import { GithubIcon } from "lucide-solid";

import pixel from "~/const/pixel";

import { HTMLX, Button, IconButton } from "~/components/core";

import { HOST } from "~/utils";
---

<HTMLX>
  <div class="absolute inset-0 z-0">
    {
      pixel.map((el) => {
        return (
          <div class={"pxy"}>
            {el.map((value) => (
              <div class={`pxx pxx${value}`} />
            ))}
          </div>
        );
      })
    }
  </div>

  <div class="p-7 z-10">
    <h1 class="text-5xl text-neutral-11 text-center font-bold select-none">Regions of Indonesia</h1>
    <div class="flex flex-col gap-1 mt-3 mb-1">
      <div class="h-px bg-gradient-to-r from-transparent via-[#ff0000] to-transparent rounded-full"></div>
      <div class="h-px bg-gradient-to-r from-transparent via-[#ffffff] to-transparent rounded-full"></div>
    </div>
    <div class="flex justify-center items-center gap-3 p-2">
      <Button client:idle as="a" href={HOST.DOCS()} target="_blank">Docs</Button>
      <IconButton client:idle as="a" href="https://github.com/regions-of-indonesia" target="_blank">
        <GithubIcon client:idle />
      </IconButton>
    </div>
  </div>
</HTMLX>
