---
import DefaultHTML from "~/ui/astro/DefaultHTML.astro";
---

<DefaultHTML title="regions of indonesia" description="regions of indonesia" url="https://regions-of-indonesia.pages.dev">
  <div>
    <h1 class="text-5xl text-primary-11 text-center font-bold">Regions of Indonesia</h1>
    <h2 class="text-3xl text-primary-11 text-center font-medium">coming soon</h2>
  </div>
</DefaultHTML>
